/* Temas del segundo período*/

.texto{
    font-size: 25px;
    padding-top: 50px;
    color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align:left;
}
.principal{
   display: flex;
     
}
body{
    background-image: url("colorido.jpg");
    background-repeat: repeat;

}

.titulo{
    font-size: 80px;
    text-align: center;
    text-shadow: -4px 0 black, 0 1px black, 1px 0 black, 0 -4px black;
    color: rgba(255, 0, 0, 0.938);

}

.subtitulo{

     font-size: 60px;
     text-shadow: -1px 0 rgb(255, 255, 255), 0 1px rgb(255, 255, 255), 1px 0 white, 0 -1px white;
     color: rgb(0, 0, 0);
     text-align: center;

}

.imgIng{

height: 303px;
width: 450px;
background-image: url(Ingles.jpeg);
float:left;
}

.imgIng2{

    height: 303px;
    width: 545px;
    background-image: url(Ingles2.jpeg);
    float:left;
}

.ImgIng3{

    height: 331px;
    width: 330px;
    background-image: url(Ingles3.jpeg);
    float:left
}    

.ImgIng4{

    height: 418px;
    width: 399px;
    background-image: url(Ingles4.jpeg);
    float:left
}    

.ImgIng5{

    height: 246px;
    width: 222px;
    background-image: url(Ingles5.jpeg);
    float:left

}

.ImgIng6{

    height: 294px;
    width: 334px;
    background-image: url(Ingles6.jpeg);
    float:left

}



.ImgIng7{

    height: 234px;
    width: 346px;
    background-image: url(Ingles7.jpeg);
    float:left

}


.ImgIng8{

    height: 250px;
    width: 245px;
    background-image: url(Ingles8.jpeg);
    float:left

}

.ImgIng9{

    height: 250px;
    width: 245px;
    background-image: url(Ingles9.jpeg);
    float:left

}

.ImgIng10{

    height: 216px;
    width: 288px;
    background-image: url(Ingles10.jpeg);
    float:left

}

.ImgIng11{

    height: 216px;
    width: 288px;
    background-image: url(Ingles11.jpeg);
    float:left

}


.ImgIng12{

    height: 216px;
    width: 288px;
    background-image: url(Ingles12.jpeg);
    float:left

}

.ImgIng13{

    height: 274px;
    width: 288px;
    background-image: url(Ingles13.jpeg);
    float:left

}




.ImgIng14{

    height: 216px;
    width: 288px;
    background-image: url(Ingles14.jpeg);
    float:left

}

.ImgBio{

    height: 308px;
    width: 319px;
    background-image: url(Biologia1.jpeg);
    float: left;
background-repeat: no-repeat;
}

.ImgBio2{

    height: 260px;
    width: 305px;
    background-image: url(Biologia2.jpeg);
background-repeat: no-repeat;
float: left;

}

.ImgBio3{

    height: 303px;
    width: 700px;
    background-image: url(Biologia3.jpeg);
background-repeat: no-repeat;

}

.ImgBio4{

    height: 235px;
    width: 360px;
    background-image: url(Biologia4.jpeg);

}

.ImgBio5{

    height: 230px;
    width: 303px;
    background-image: url(Biologia5.jpeg);

}

.ImgQui{

    height: 267px;
    width: 343px;
    background-image: url(Quimica1.jpeg);
    float:left;
}

.ImgQui2{

    height: 208px;
    width: 343px;
    background-image: url(Quimica2.jpeg);
    float:left;
}

.ImgQui2{

    height: 208px;
    width: 343px;
    background-image: url(Quimica2.jpeg);
    float:left;
}

.ImgTec1{

    height: 307px;
    width: 497px;
    background-image: url(tecnologia1.png);
    float:left;
}


.ImgTec2{

    height: 307px;
    width: 572px;
    background-image: url(tecnologia2.webp);
    float:left;
}

.ImgIni{

    height: 1023px;
    width: 1023px;
    background-image: url(Logo.webp);
    float:left;
}

.ImgMat1{

    height: 171px;
    width: 470px;
    background-image: url(matematicas1.png);
    float:left;
}

.ImgMat2{

    height: 250px;
    width: 470px;
    background-image: url(matematicas2.png);
    float:left;
}

.ImgMat3{

    height: 340px;
    width: 560px;
    background-image: url(matematicas3.png);
    float:left;
}

.ImgMat4{

    height: 250px;
    width: 548px;
    background-image: url(matematicas4.png);
    float:left;
}

.ImgMat5{

    height: 215px;
    width: 580px;
    background-image: url(matematicas5.png);
    float:left;
}

.ImgMat6{

    height: 270px;
    width: 530px;
    background-image: url(matematicas6.png);
    float:left;
}

.ImgMat7{

    height: 225px;
    width: 565px;
    background-image: url(matematicas7.png);
    float:left;
}

.ImgMat8{

    height: 257px;
    width: 600px;
    background-image: url(matematicas8.png);
    float:left;
}

.ImgMat9{

    height: 320px;
    width: 530px;
    background-image: url(matematicas9.png);
    float:left;
}

.ImgMat10{

    height: 320px;
    width: 480px;
    background-image: url(matematicas10.png);
    float:left;
}

.ImgMat11{

    height: 240px;
    width: 480px;
    background-image: url(matematicas11.png);
    float:left;
}

.ImgMat12{

    height: 240px;
    width: 734px;
    background-image: url(matematicas12.png);
    float:left;
}

.ImgMat13{

    height: 240px;
    width: 517px;
    background-image: url(matematicas13.png);
    float:left;
}

.ImgMat14{

    height: 233px;
    width: 646px;
    background-image: url(matematicas14.png);
    float:left;
}

.ImgBio3-1{

    height: 330px;
    width: 588px;
    background-image: url(biologia3.1.png);
    float:left;
}

.ImgBio3-2{

    height: 474px;
    width: 476px;
    background-image: url(biologia3.2.png);
    float:left;
}

.ImgBio3-3{

    height: 250px;
    width: 600px;
    background-image: url(biologia3.3.png);
    float:left;
}